# Note that not all variables here might be in use for your selected configuration

# Prisma
DATABASE_URL=mysql://root:@localhost:3309/your_db

# Next Auth
NEXTAUTH_SECRET=secret
NEXTAUTH_URL=http://localhost:3000

# OSS Stuff
ALI_REGION=
ALI_ACCESS_KEY_ID=
ALI_ACCESS_KEY_SECRET=
ALI_BUCKET=